<article class="homepage-posts">

    <div class="title">
        <h2>{{title}}</h2>
    </div>

    <div class="post-content">
        <h4>Posted by {{user.username}} on {{format_date created_at}}</h4>
        <a href="/post/{{id}}" class="comment-link">{{comments.length}} comments</a>
    </div>

</article>